
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* universal */
$link-color: #e96378;

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

button {
    border: solid 1px;
}

.jumbotron {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

.jumbotron {
    text-align: center;
    background-color: white;
    box-shadow: 0 0 0.5em #dedede;
    width: 80%;
    position: relative;
    left: 10%;
    top: 4em;
}

a {
    text-decoration: none;
    color: $link-color;
}

/* header */

header {
    background-color: white; 
    box-shadow: 0 0 0.5em #dedede;

    * {
        display: inline;
        vertical-align: middle;
    }

    img {
        width: 40px;
        height: 40px;
        position: relative;
        margin: 1em 0;
        left: 10%;
    }

    h4 {
        color: #212121;
        letter-spacing: 0.5em;
        font-size: 1.2em;
        position: relative;
        left: 10.5%;
    }

    div.options {
        float: right;
        position: relative;
        right: 10%;
        top: 1.5em;

        a {
            text-decoration: none;
            cursor: pointer;
            color: #212121;
        }

        a#advanced-search {
            margin-right: 1em;
        }

        a#signup {
            color: white;
            background-color: #212121;
            padding: 0.5em 1em;
            border-radius: 5px;
            margin-right: 1em;
        }
    }
}

/* footer */

footer {
    position: absolute;
    bottom: 0;
    background-color: #212121;
    width: 100%;
    text-align: center;

    p {
	margin: 1em 0 1em 0;
    }
}

/* main-page */
div.main-page {
    div.slogan {
        margin-top: 2em;

        * {
            display: inline;
            vertical-align: text-bottom;
        }

        img {
            width: 75px;
            height: 75px;
        }
    }

    form#simple-search {
        input {
            width: 70%;
            height: 3em;
            margin: 4em 0; 
	    outline: none;
        }

        button#submit {
            background-color: $link-color;
            color: white;
            border-color: $link-color;
            padding: 0.65em 2em;
            position: relative;
            left: -0.3em;
        }
    }

    table#result-list {
		width: 80%;
		position: relative;
		left: 10%;
		top: -2em;

		th {
			text-align: center;
		}

		td {
			text-align: center;
		}
    }


    div#non-result {
		text-align: left;
		position: relative;
		left: 10%;
		width: 80%;

		h4 {
		    color: #212121;
			font-weight: bold;
        }
	
		p {
			color: #aeaeae;
			font-size: 1em;
		}

		div#buttons {
			float: right;
			position: relative;
			top: -4em;
		
			button {
				display: inline;
				margin-left: 1em;
				padding: 0.25em 1.5em;
				border-radius: 5px;
				color: white;
			}

			#back {
				background-color: #212121;
			}

			#advance {
				background-color: $link-color;
			}
		}
    }
	
	img#error-img {
		width: 300px;
		position: relative;
		left: 20%;
		top: 5em;
	}

	p#error-msg {
		color: $link-color;
		position: relative;
		top: 4em;
	}

	div.jumbotron form {
		width: 40%;
		position: relative;
		left: 30%;

		input.form-control {
			margin: 1em 0;
		}

		button {
			padding: 0.25em 1.5em;
			border-radius: 5px;
			color: white;
			background-color: #212121;
		}

		h3 {
			text-align: left;
			padding-left: 30%;
		}
	}
}



